# .editorconfig
# Maintainer: @olaflaitinen <olaf.laitinen@gmail.com>
# License: Apache-2.0

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 100

[*.py]
indent_size = 4
max_line_length = 100

[*.pyi]
indent_size = 4
max_line_length = 100

[*.{yaml,yml,json,toml,cff}]
indent_size = 2

[*.{md,rst}]
trim_trailing_whitespace = false
max_line_length = off

[Makefile]
indent_style = tab
indent_size = 4

[*.{sh,bash}]
indent_size = 2

[*.{html,xml,svg}]
indent_size = 2
